.navbar {
  display: flex;
  align-items: center;
  background: #fff;
  height: 80px;
}

.navbar__logo {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

.navbar__btn {
  margin-right: 20px;
  height: 50px;
  width: 250px;
}
